body{
    background-color: black;
    color: blue;
     font-family: "Crimson Text", serif;
}

header{
    border:solid 3px rgb(1, 183, 255);
    padding: 20px;
    font-size: 15px;
}

section{
    background-color: black;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

